/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; //esconde la barra de navegacion
}

body{
    margin-left: 5%;
    margin-right: 4.9%;
    font-family: sans-serif;
    background: #fff;
    background-attachment: fixed;//fija la imagen
    
}

/*nav*/
.logo img{
    width: 120px;
    display: flex;
    align-items: center;
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background: black;
    height: 60px;
    width: 100%;
}

.global_nav{
    display:flex;
    align-items: center;
}

.global_nav_item a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.global_nav_item:hover{
    background: #fff;
    color: #000;
    transition: 0.3s;
}

.key {
    height: 400px;
    background: center / cover no-repeat url(https://i.pinimg.com/736x/6b/19/c2/6b19c26e4cd2ec49bca3676fa4302fc9.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
/*fin del nav*/
.concept-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-inner{
    padding: 50px 10% 30px;
}

.section_title{
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
/*todo nuestro body esta en este container, es basicamente para que todo tenga su distancia en los bordes y no se pegue a la pared
el max width limita el tamaño de los objetos para que no sean cuadros gigantes que llenen la pantalla el margin pone un pargen automaticamente y los padding espacian a la izq y derecha*/
.container{
    max-width: 1300px;
    margin: auto;
    padding-top: 8px;
}
/*lo mismo de hace rato
flex para que esten en cuadritos uno a lado de otro
y alinear para que los elementos esten centrados en la pantalla osease igual altura y eso  
*/

/*es para que al subir el mouse cambie su color*/

.icon-cart{
    width: 40px;
    height: 50px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

/* Carrito */
.container-icon{
    position: absolute;
    top: 50px;
    right: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 500px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}


/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; //espacio entre los items
    padding: 50px;
    justify-content: center;
    //
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product h2{
    font-size: 13px;
}

.info-product h5{
    font-size: 11px;
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000000fe;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}
.info-product button:hover{
    background: #000000fe;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden{
    display: none;
}

button{
    font-family: sans-serif;
    background-color: #000000cb;
    color: #fff;
    border-radius: 10px;
    padding: 3%;
    border-style: none;
}